html {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #efefef;
}

.ddd {
  background-color: #ddd;
}

.fff {
  background-color: #fff;
}

.titlearea {
  background-color: #ddd;
}

.searchbar {
  position: relative;
  padding: 0;
  margin: 0;
}

.search {
  height: 20px;
  margin: 0;
  padding-left: 30px;
}

.searchicon {
  position: absolute;
  bottom: 1px;
  left: 10px;
}

.logo {
  max-width: 200px;
}

.table-wrapper table {
  min-width: 45em;
}

caption {
  padding-left: 0;
}

@media only screen and (min-width: 90em) {
  /* 76 */

  .table-wrapper {
    overflow: visible;
  }

}
